@import 'variables';

@mixin breakpoint($width, $height: null) {
  @if ($width and $height) {
    @media (min-height: $height) and (min-width: $width) {
      @content;
    }
  } @else if $width {
    @media (min-width: $width) {
      @content;
    }
  } @else {
    @media (min-height: $height) {
      @content;
    }
  }
}

@mixin button-shadow($color) {
  box-shadow: 0 4px 6px -1px rgba($color, 0.2), 0 2px 4px -1px rgba($color, 0.2);
}

@mixin container() {
  background-color: $dark-gray;
  border-radius: 2rem;
  padding: 4rem;
}

@mixin diagonal-gradient($a, $b) {
  background-color: $a;
  background-image: linear-gradient(45deg, $a, $b);
}

@mixin placeholder() {
  &::-webkit-input-placeholder {
    @content;
  }

  &::-moz-placeholder {
    @content;
  }

  &:-ms-input-placeholder {
    @content;
  }

  &::placeholder {
    @content;
  }
}

@mixin scrollbar() {
  scrollbar-color: white;
  scrollbar-width: 0.4rem;

  &::-webkit-scrollbar {
    height: 0.4rem;
    width: 0.4rem;
  }

  &::-webkit-scrollbar-thumb {
    background-image: linear-gradient($red, $grape);
  }
}
