// Colors
$blue: #4dabf7;
$cyan: #3bc9db;
$grape: #da77f2;
$gray: #ced4da;
$dark-gray: #212529;
$green: #69db7c;
$indigo: #748ffc;
$lime: #a9e34b;
$orange: #ffa94d;
$pink: #f783ac;
$red: #ff6b6b;
$teal: #38d9a9;
$violet: #b197fc;
$yellow: #ffe066;

// Typography
$halant: 'Halant', serif;
$lato: 'Lato', sans-serif;
