@import '../styles/mixins';

.portfolio {
  margin-bottom: 4rem;
  @include container();
  padding: 3rem 1.5rem;

  &__heading {
    text-align: center;
  }

  &__item {
    align-items: center;
    display: flex;
    justify-content: center;
    transition: transform $time;

    &:not(:last-child) {
      margin-bottom: 3rem;
    }

    &:hover {
      transform: scale(1.1, 1.1);
    }

    &:active {
      transform: scale(1.1, 1.1) translateY(0.2rem);
    }

    &--comport > .portfolio__image {
      width: 11rem;
    }

    &--hetchie > .portfolio__image {
      width: 5.5rem;
    }

    &--stimrouter > .portfolio__image {
      width: 10rem;
    }

    &--considdr > .portfolio__image {
      width: 6.5rem;
    }

    &--schwab > .portfolio__image {
      width: 5rem;
    }
  }

  &__image {
    width: 9rem;
    @include drop-shadow(rgba(black, 0.75));
  }

  @include breakpoint($s) {
    display: grid;
    gap: 4rem 2rem;
    grid-template-columns: repeat(2, 1fr);

    &__item:not(:last-child) {
      margin-bottom: 0;
    }
  }

  @include breakpoint($s, $l) {
    &__item {
      &:nth-child(3) {
        order: 4;
      }

      &:nth-child(4) {
        order: 3;
      }

      &:nth-child(5) {
        order: 5;
      }

      &:nth-child(6) {
        order: 6;
      }
    }
  }

  @include breakpoint($l) {
    grid-template-columns: repeat(3, 1fr);
  }
}
