@import 'mixins';

.portfolio {
  margin-bottom: 4rem;
  @include container();
  padding: 3rem 1.5rem;

  &__heading {
    text-align: center;
  }

  &__item {
    align-items: center;
    display: flex;
    justify-content: center;
    transition: transform $time;

    &:not(:last-child) {
      margin-bottom: 3rem;
    }

    &:hover {
      transform: scale(1.1, 1.1);
    }

    &:active {
      transform: scale(1.1, 1.1) translateY(0.2rem);
    }

    &--considdr > .portfolio__image {
      width: 6rem;
    }

    &--hetchie > .portfolio__image {
      width: 4rem;
    }

    &--schwab > .portfolio__image {
      width: 4.5rem;
    }

    &--stimrouter > .portfolio__image {
      width: 8.5rem;
    }
  }

  &__image {
    width: 8rem;
    @include drop-shadow(rgba(black, 0.75));
  }

  @include breakpoint($s) {
    display: grid;
    gap: 4rem 2rem;
    grid-template-columns: repeat(2, 1fr);

    &__item:not(:last-child) {
      margin-bottom: 0;
    }
  }

  @include breakpoint($m) {
    grid-template-columns: repeat(3, 1fr);
  }

  @include breakpoint($xl) {
    grid-template-columns: repeat(6, 1fr);
  }
}
