@import 'mixins';

.skills {
  margin-bottom: 4rem;
  @include container();

  &__main {
    display: flex;
  }

  &__filters {
    flex: 3;
    margin-right: 4rem;
  }

  &__filters-wrapper {
    margin: 0 -0.75rem -0.75rem 0;
  }

  &__tag {
    background-color: white;
    border: none;
    border-radius: 1rem;
    color: $dark-gray;
    cursor: pointer;
    font-family: $fira-mono;
    font-size: 1rem;
    font-weight: 700;
    line-height: 1;
    margin: 0 0.75rem 0.75rem 0;
    outline: none;
    padding: 0.5rem 1rem;
    transition: background-color $time, box-shadow 0.4s, transform $time;
    @include button-shadow(black);

    &:active {
      transform: translateY(0.2rem);
    }

    @for $i from 1 through length($colors) {
      &:nth-child(12n + #{$i}) {
        $color: nth($colors, $i);

        &:hover {
          @include button-shadow($color);
        }

        &:hover,
        &.skills__tag--active {
          background-color: $color;
        }
      }
    }
  }

  &__skills {
    flex: 4;
    margin: 0 -0.5rem -0.5rem 0;
  }

  &__skill {
    border: 0.15rem solid;
    border-radius: 1rem;
    display: inline-block;
    font-family: $fira-mono;
    font-size: 1rem;
    margin: 0 0.5rem 0.5rem 0;
    padding: 0.25rem 1rem;

    @for $i from 1 through length($colors) {
      &:nth-child(12n + #{$i}) {
        $color: nth($colors, $i);
        border-color: $color;
      }
    }
  }
}
