@import-normalize;
@import 'mixins';

body {
  background-color: black;
  color: white;
  font-family: $lato;
  font-size: 1.1rem;
  margin: 0;
  @include scrollbar();
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $halant;
}

h2 {
  font-size: 3.5rem;
  margin: 0 0 1rem 0;
}
